.card-body{
    background-color: #1b2131;
}
.email{
    background-color: green;
}
.password{
    background-color: green;
}
.form-control{
    color: white;
    background-color: transparent;
}
.form-control:hover{
    background-color: transparent;
    color: black; 
    border: 2px solid #4CAF50;
}
.btn{
    width: 100%;
}