@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  outline: 0 !important;
}

body {
  background: #1b2845;
  color: rgba(255, 255, 255, 0.87);
}

.h-full {
  min-height: calc(100vh - 69px);
}

h1,
.h1 {
  font: 600 3.5rem/4.375rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

h2,
.h2 {
  font: 600 3rem/3.875rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

h3,
.h3 {
  font: 600 2.5rem/3.25rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

h4,
.h4 {
  font: 600 2rem/2.625rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

h5,
.h5 {
  font: 600 1.875rem/2.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

h6,
.h6 {
  font: 600 1.5rem/2.125rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

.h7 {
  font: 500 1.25rem/1.875rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

.body {
  font: 400 1.125rem/1.75rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

p,
.body2 {
  font: 400 1rem/1.75rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

.body3 {
  font: 400 0.9375rem/1.5625rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

.body4 {
  font: 400 0.875rem/1.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

.body5 {
  font: 400 0.75rem/1.375rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

.navbar.navbar-dark .navbar-brand img {
  height: 40px;
}

.navbar.navbar-dark .navbar-nav .nav-link {
  font: 400 0.875rem/1.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  padding: 0;
  margin: auto 1.25rem;
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.87);
}

.navbar.navbar-dark .navbar-nav .nav-link.active {
  color: #2c8857;
}

.navbar.navbar-dark .navbar-nav .nav-link.sign-in {
  display: inline-block;
  width: fit-content;
  border: 1px solid #2c8857;
  box-sizing: border-box;
  filter: drop-shadow(0px 20px 40px rgba(21, 177, 69, 0.1));
  border-radius: 5px;
  padding: 1rem 3.5rem;
  font: 400 1rem/1rem "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.003em;
  color: #2c8857;
  padding: 0.5rem 2.5rem;
}

#comingsoon {
  min-height: 100vh;
  position: relative;
}

#comingsoon .comingsoon-title {
  font: 600 3rem/3.875rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

@media screen and (max-width: 768px) {
  #comingsoon .comingsoon-title {
    margin-top: 100px;
    font: 600 2rem/2.625rem "Poppins", sans-serif;
    letter-spacing: 0.003em;
    color: inherit;
  }
}

#comingsoon .comingsoon-desc {
  width: 425px;
  max-width: 100%;
  margin: 1.5rem 0;
  font: 400 1rem/1.75rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
}

@media screen and (max-width: 768px) {
  #comingsoon .comingsoon-desc {
    font: 400 0.9375rem/1.5625rem "Poppins", sans-serif;
    letter-spacing: 0.003em;
    color: inherit;
  }
}

#comingsoon .timer-container {
  margin-top: 2.5rem;
}

#comingsoon .timer-container #days-number,
#comingsoon .timer-container #hours-number,
#comingsoon .timer-container #mins-number,
#comingsoon .timer-container #secs-number {
  font: 2.75rem/3.75rem "Tienne", serif;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 768px) {
  #comingsoon .timer-container #days-number,
  #comingsoon .timer-container #hours-number,
  #comingsoon .timer-container #mins-number,
  #comingsoon .timer-container #secs-number {
    font: 1.75rem/3.125rem "Tienne", serif;
  }
}

#comingsoon .timer-container .timer-separator {
  font: 2.5rem/3.75rem "Tienne", serif;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 768px) {
  #comingsoon .timer-container .timer-separator {
    font: 1.5rem/2.75rem "Tienne", serif;
  }
}

#comingsoon .timer-container .timer-name {
  font: 300 1rem/2rem "Urbanist", sans-serif;
  color: rgba(255, 255, 255, 0.68);
}

@media screen and (max-width: 768px) {
  #comingsoon .timer-container .timer-name {
    font: 300 0.875rem/1.625rem "Urbanist", sans-serif;
  }
}

#comingsoon .comingsoon-image {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 700px;
  max-width: 100%;
  padding-left: 50px;
}

@media screen and (max-width: 768px) {
  #comingsoon .comingsoon-image {
    right: -75px;
    padding-bottom: 30px;
  }
}

#error-404 .error-img {
  width: 400px;
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  #error-404 .error-img {
    width: 250px;
    max-width: 100%;
  }
}

#error-404 .error-title {
  font: 600 2rem/2.625rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  margin: 2.5rem auto 1.5rem;
}

@media screen and (max-width: 576px) {
  #error-404 .error-title {
    font: 600 1.5rem/2.125rem "Poppins", sans-serif;
    letter-spacing: 0.003em;
    color: inherit;
    margin: 2.5rem auto 1rem;
  }
}

#error-404 .error-desc {
  font: 400 0.9375rem/1.5625rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  margin: 1.5rem auto 2rem;
}

@media screen and (max-width: 576px) {
  #error-404 .error-desc {
    margin: 1rem auto 2rem;
  }
}

#error-404 .error-button {
  display: inline-block;
  width: fit-content;
  border: 1px solid #2c8857;
  box-sizing: border-box;
  filter: drop-shadow(0px 20px 40px rgba(21, 177, 69, 0.1));
  border-radius: 5px;
  padding: 1rem 3.5rem;
  font: 600 1rem/1rem "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.003em;
  color: #2c8857;
}

#regis-header {
  margin-top: 4rem;
}

#regis-header .header-title {
  font: 600 1.875rem/2.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.87);
}

#regis-header .header-desc {
  font: 400 1rem/1.75rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.68);
}

#regis-header .header-line {
  color: rgba(255, 255, 255, 0.25);
}

#regis-container .form-indicator {
  position: relative;
}

#regis-container .form-indicator .indicator {
  margin-bottom: 72px;
}

#regis-container .form-indicator .indicator-dashed {
  position: absolute;
  top: 50%;
  right: 32px;
  z-index: -1;
  transform: translateY(-50%);
  height: 72px;
  width: 1px;
  background-color: transparent;
  border: 1px dashed rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 576px) {
  #regis-container .form-indicator .indicator-dashed {
    right: 50%;
  }
}

#regis-container .form-indicator .indicator-name {
  font: 500 18px/27px "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: rgba(255, 255, 255, 0.87);
}

#regis-container .form-indicator .indicator-desc {
  font: 400 0.875rem/1.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.38);
}

#regis-container .form-indicator .indicator-image {
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  #regis-container .form-indicator .indicator-image {
    width: 40px;
    height: 40px;
  }
  #regis-container .form-indicator .indicator-image img {
    width: 24px;
  }
}

#regis-container .form-indicator .indicator-image.active {
  background-color: #2c8857;
}

.form-step {
  font: 400 0.875rem/1.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.38);
}

.form-title {
  font: 600 1.5rem/2.125rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 576px) {
  .form-title {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0;
  }
}

.form-instruction {
  font: 400 0.875rem/1.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.38);
}

.form-line {
  color: rgba(255, 255, 255, 0.25);
}

.form-section {
  font: 500 1.25rem/1.875rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 576px) {
  .form-section {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0;
  }
}

.form-label {
  position: relative;
  margin-bottom: 0;
  font: 400 1rem/1.75rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.87);
}

@media screen and (max-width: 576px) {
  .form-label {
    font: 400 0.9375rem/1.5625rem "Poppins", sans-serif;
    letter-spacing: 0.003em;
    color: inherit;
  }
}

.form-input {
  margin: 0.5rem 0 0;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.38);
  box-sizing: border-box;
  border-radius: 5px;
}

.form-input::placeholder {
  font: 400 0.875rem/1.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.38);
}

.form-input:focus {
  border: 1px solid rgba(44, 136, 87, 0.68);
}

.form-input:focus::placeholder {
  color: rgba(44, 136, 87, 0.68);
}

@media screen and (max-width: 576px) {
  .form-input {
    font: 400 0.9375rem/1.5625rem "Poppins", sans-serif;
    letter-spacing: 0.003em;
    color: inherit;
    padding: 0.5rem 1.5rem;
  }
}

.form-control {
  margin: 0.5rem 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.38);
  box-sizing: border-box;
  border-radius: 5px;
  font: 400 0.875rem/1.5rem "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: inherit;
  color: rgba(255, 255, 255, 0.38);
}

.form-control:focus {
  border: 1px solid rgba(44, 136, 87, 0.68);
  outline: none !important;
  background-color: transparent;
  color: rgba(44, 136, 87, 0.68);
}

.form-control:focus::placeholder {
  color: rgba(44, 136, 87, 0.68);
}

.form-button {
  padding: 1rem 3rem;
  font: 600 16px/16px "Poppins", sans-serif;
  letter-spacing: 0.003em;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c8857;
  border: 1px solid #2c8857;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}

@media screen and (max-width: 576px) {
  .form-button {
    font: 400 0.9375rem/1.5625rem "Poppins", sans-serif;
    letter-spacing: 0.003em;
    color: inherit;
    padding: 0.75rem 2rem;
  }
}

.form-button:hover {
  background-color: transparent;
  color: #2c8857;
}

.form-button.disabled {
  filter: grayscale(0.5);
}

.form-button.disabled:hover {
  background-color: #2c8857;
  color: rgba(255, 255, 255, 0.87);
}

.form-link {
  color: #2c8857;
}

a.payment-button {
  color: #2c8857;
}

a.payment-button:hover {
  color: #2c8857;
}

a.payment-button .payment-chevron {
  transform: rotate(270deg);
}

.payment {
  width: 100%;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.38);
  border-radius: 4px;
}

.payment-logo {
  width: 75px;
  max-width: 100%;
}

.payment-target {
  font: normal 14px/14px "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.003em;
  color: rgba(255, 255, 255, 0.87);
}

.payment-name {
  font: normal 12px/12px "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.003em;
  color: rgba(255, 255, 255, 0.68);
}

#loginPage {
  padding-top: 72px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  #loginPage {
    align-items: flex-start;
  }
}

#loginPage .login-title {
  color: rgba(255, 255, 255, 0.87);
}

#loginPage .login-desc {
  color: rgba(255, 255, 255, 0.68);
}

#loginPage .login-image {
  position: absolute;
  bottom: -8rem;
  left: -8rem;
}

#loginPage .form {
  max-width: 450px;
}
/*# sourceMappingURL=style.css.map */