#loginPage {
  padding-top: 72px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    align-items: flex-start;
  }
  .login {
    &-title {
      color: $white-primary;
    }
    &-desc {
      color: $white-variant2;
    }
  }
  .login-image {
    position: absolute;
    bottom: -8rem;
    left: -8rem;
  }
  .form {
    max-width: 450px;
  }
}
