@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// general variable
$bg-body: #1B2845;
$general-font: "Poppins";
$primary-color: #28a562;

@mixin default-btn {
  border: 0;
  padding: 5px 45px;
  border-radius: 8px;
  border: 2px solid $primary-color;
}

@mixin btn-outline {
  @include default-btn();
  background-color: transparent;
  color: $primary-color;
}

@mixin btn-fill {
  @include default-btn();
  background-color: $primary-color;
  color: #fff;
}

@mixin btn-blank {
  @include default-btn();
  border: none;
  background-color: transparent;
  color: $primary-color;
}

.text-green {
  color: $primary-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-body;
  font-family: $general-font;
  overflow-x: hidden;
}

section#hero {
  background: url("./background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  .hero {
    a {
      @include btn-outline();
      cursor: pointer;
      transition: all 0.3s ease;
  
      &:hover {
        @include btn-fill();
        transform: scale(1.03);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section#hero {
    .hero {
      width: 95% !important;
    }
    
    a {
      width: 100%;
    }
  }
}

section#about {
  min-height: 70vh;

  .container {
    .inner-container {
      width: 85%;
    }
  }
}

section#faq {
  min-height: 80vh;

  a {
    @include btn-outline();
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      @include btn-fill();
      transform: scale(1.03);
    }
  }

  .accordion-item button {
    border: 0;
    width: 100%;
    text-align: start;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .fa-chevron-down {
      color: #28a562;
    }
  }
}

@media screen and (max-width: 768px) {
  section#faq {
    .faq-kiri,
    .faq-kanan {
      width: 100% !important;
      margin-bottom: 50px;
    }
  }
}
